@import "../../assets/fonts/font.css";

.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ListTab {
  width: 245px;
  height: 24px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font: 400 14px/24px 'Roboto', 'Arial';
}

.Landie {
  font: 900 26px/38px 'Roboto', 'Arial';
}