

.Navigator {
    display: inline-flex;
    font: 400 14px/24px 'Roboto', 'Arial';

    // Для всех детей кроме первого
    :not(:first-child) {
        margin-left: 30px;
    }

    &-text {
        padding: 8px 10px;
        cursor: pointer; 
        border-radius: 3px;        
        // Плавное изменение свойства background
        transition: background 0.2s;

        &:hover {
            background: #F9FAFF;
        }
    }
}

